@model IPagedList<DOMoRR.Models.Tables.Country>
@{
    var options = new PagedListRenderOptions()
    {
        LinkToFirstPageFormat = Labels.first,
        LinkToLastPageFormat = Labels.last
    };
    var _user = ViewBag.AppUser as DOMoRR.Models.ViewModels.UserWithRole;
}

<div class="table-scrollable">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>@Labels.english_name</th>
                <th>@Labels.dari_name</th>
                <th>@Labels.pashtu_name</th>
                <th>@Labels.code</th>
                <th>@Labels.active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int num = 1;}
            @foreach (var row in Model)
            {
                <tr>
                    <td>@(num++)</td>
                    <td>@row.EnName</td>
                    <td>@row.DrName</td>
                    <td>@row.PaName</td>
                    <td>@row.CountryCode</td>
                    <td><input type="checkbox" @(row.IsActive ? "checked" : "") disabled /></td>
                    <td>
                        @if (_user.HasAccess("Lookups", "Edit"))
                        {
                        <a href="javascript:;" data-id="@row.CountryId" class="btn default btn-xs blue-hoki editlnk">
                            <i class="fa fa-edit"></i> @Labels.edit
                        </a>
                        }
                        @if (_user.HasAccess("Lookups", "Delete"))
                        {
                        <a href="javascript:;" data-id="@row.CountryId" class="btn default btn-xs red deletelnk">
                            <i class="fa fa-trash"></i> @Labels.delete
                        </a>
                        <a href="javascript:;" data-id="@row.CountryId" class="btn default btn-xs blue-hoki restorelnk">
                            <i class="fa fa-share"></i> @Labels.restore
                        </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("CountryList", new { page }), options)
</div>
