@model IEnumerable<Inventory.Models.Tables.Item>
@{
    ViewBag.Title = "List of Items";
    var _user = ViewBag.AppUser as Inventory.Models.ViewModels.UserWithRole;
    var test = _user.HasAccess("Lookups", "Add");
}
@if (_user.HasAccess("Lookups", "Add"))
{
    <a class="btn default" id="addbtn" data-target="#form_div" data-toggle="modal" style="margin-bottom:10px"><i class="fa fa-plus"></i> Add Item</a>
}

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            Item list
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body" id="list_div">
        @Html.Partial("_ItemList", Model)
    </div>
</div>

<form method="post" id="data_form" action="@Url.Action("SaveItem")">
    <div id="form_div" class="modal fade" tabindex="-1" data-width="200" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add item</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="item_code_div">
                                <label>Item Code</label>
                                <input type="text" name="ItemCode" id="itemCode" class="form-control" required data-msg="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>@Labels.english_name</label>
                                <input type="text" name="EnName" id="enname" class="form-control" required data-msg="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>@Labels.dari_name</label>
                                <input type="text" name="DrName" id="drname" class="form-control" required data-msg="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>@Labels.pashtu_name</label>
                                <input type="text" name="PaName" id="paname" class="form-control" required data-msg="" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="button" class="btn default" data-dismiss="modal">@Labels.cancel</button>
                        <button type="submit" class="btn green" id="btn-submit">@Labels.save</button>
                    </div>
                    <input type="hidden" name="ItemId" id="rowid" value="0">
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">

        $(function () {
            $('#addbtn').click(function () {
                $('#data_form').clearForm();
                $('#data_form input').tooltip('destroy')
                $('.error').removeClass('error')
                $('#rowid').val('0')
                $('#item_code_div').show();
                $('#itemcode').prop('disabled', false);
            })

            $('#data_form').validate({
                rules: {
                    ItemCode: {
                        remote: {
                            url: '@Url.Action("CheckItemCode")',
                            type: 'post',
                            data: {
                                ItemCode: function () {
                                    return $('#itemCode').val();
                                },
                                id: function () {
                                    return $('#rowid').val();
                                }
                            }
                        }
                    }
                },
                messages: {
                    ItemCode: {
                        remote: "@Labels.duplicate_code"
                    }
                },
                submitHandler: function (form) {
                    $('#btn-submit').button('loading');
                    $(form).ajaxSubmit({
                        success: function (response) {
                            $('#form_div').modal('hide');
                            bootbox.alert('@Labels.operation_done_suc', function () {
                                $('#btn-submit').button('reset');
                                loadList();
                            })
                        }
                    })
                }
            });

            $('body').on('click', '.editlnk', function () {

                var id = $(this).data().id;
                var url = '@Url.Action("GetItem")/' + id;

                $('#form_div').modal('show')
                $('#data_form input').tooltip('destroy')
                $('.error').removeClass('error')
                $('#rowid').val(id);
                $('#item_code_div').hide();
                $('#itemcode').prop('disabled', true);

                $.get(url, function (row) {

                    $('#enname').val(row.EnName);
                    $('#drname').val(row.DrName);
                    $('#paname').val(row.PaName);
                })
            })

            $('body').on('click', '.deletelnk', function () {
                var id = $(this).data().id;
                bootbox.confirm('@Labels.are_you_sure', function (res) {
                    if (res) {
                        var url = '@Url.Action("DeleteRestoreItem")/' + id + '?value=false';
                        $.get(url, function (response) {
                            loadList();
                        })
                    }
                })
            })

            $('body').on('click', '.restorelnk', function () {
                var id = $(this).data().id;
                var url = '@Url.Action("DeleteRestoreItem")/' + id + '?value=true';
                $.get(url, function (response) {
                    loadList();
                })
            })

            function loadList() {
                $.get('@Url.Action("ItemList")', function (response) {
                    $('#list_div').html(response);
                    $(':checkbox').uniform();
                })
            }
        })
    </script>
}




