@model Inventory.Models.ViewModels.DisposableDistributionVM
@{
    ViewBag.Title = "PC 10 Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _user = ViewBag.AppUser as Inventory.Models.ViewModels.UserWithRole;
}
<div class="margin-bottom-10">
    @if (_user.HasAccess("DisposableDistribution", "Search"))
    {
        <a href="@Url.Action("Search")" class="btn btn-sm">@Labels.back_to_list</a>
    }
    @if (_user.HasAccess("DisposableDistribution", "Edit"))
    {
        <a href="@Url.Action("Edit", new { id=Model.DisposableDistributionID })" class="btn btn-sm blue"><i class="fa fa-edit"></i> @Labels.edit</a>
    }
    @if (_user.HasAccess("DisposableDistribution", "Print"))
    {
        <a href="#popup_attachment" data-toggle="modal" class="btn btn-sm btn-success showFile_row" id="btn_print" data-filepath="@Model.FilePath" title="@Labels.FinalSOAttachment"><i class="fa fa-paperclip"></i>@Labels.print_preview</a>
    }
    @if (_user.HasAccess("DisposableDistribution", "Delete"))
    {
        <a href="@Url.Action("Delete", new { id=Model.DisposableDistributionID })" class="btn btn-sm btn-danger" id="btn_delete"><i class="fa fa-trash"></i> @Labels.delete</a>
    }
</div>

<div style="direction:rtl;">
    <table border="1" class="table table-striped table-condensed table-bordered" style="border-collapse: collapse; width:100%;">
        <thead>
            <tr>
                <th>Department</th>
                <th>@Labels.Issued</th>
                <th>@Labels.IssueDate</th>
                <th>@Labels.OrderNumber</th>
                <th>@Labels.OrderDate</th>
            </tr>
            <tr>
                <td>@Model.DepartmentName</td>
                <td>@Model.DocumentIssueNumber</td>
                <td>@Model.DocumentIssuedDate</td>
                <td>@Model.OrderNumber</td>
                <td>@Model.OrderDate</td>
            </tr>
        </thead>
    </table>
    <table border="1" class="table table-striped table-condensed table-bordered" style="border-collapse: collapse; width:100%;">
        <thead>
            <tr>
                <th style="text-align:center; word-wrap:normal; word-wrap:normal;  width:5%;">#</th>
                <th style="text-align:center; word-wrap:normal; word-wrap:normal;">@Labels.Quantity</th>
                <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.Unit</th>
                <th style="text-align:center; word-wrap:normal;">@Labels.Item_Group</th>
                <th style="text-align:center; word-wrap:normal;">@Labels.Item_Category</th>
                <th style="text-align:center; word-wrap:normal;">

                </th>
                <th style="text-align:center; word-wrap:normal;">@Labels.Item_Code</th>
                <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.UnitPrice</th>
                <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.TotalPrice</th>
                <th style="text-align:center; word-wrap:normal;word-wrap:normal;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DistributionItems)
            {
                int index = 1;
                <tr>
                    <th style="text-align:center;">@index</th>
                    <th style="text-align:center;">@item.Quantity</th>
                    <th style="text-align:center;">@item.UnitName</th>
                    <th style="text-align:center;">@item.ItemGroupName</th>
                    <th style="text-align:center;">@item.ItemCategoryName</th>
                    <th style="text-align:center;">@item.ItemName</th>
                    <th style="text-align:center;">@item.ItemCode</th>
                    <th style="text-align:center;">@item.UnitPrice</th>
                    <th style="text-align:center;"> @(item.Quantity * item.UnitPrice)</th>
                    <th style="text-align:center;">&nbsp;</th>
                </tr>
                index++;
            }
            <tr>
                <th colspan="8" style="text-align:center; word-wrap:normal;">@Model.Details</th>
                <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
            </tr>
            <tr>
                <th colspan="8" style="text-align:center;"> مجموع قیمت</th>
                <th style="text-align:center;"> @Model.DistributionItems.Sum(i => i.UnitPrice * i.Quantity)</th>
                <th style="text-align:center;">افغانی </th>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="popup_attachment" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                @Labels.DocumentPrveview
            </div>
            <div class="modal-body">
                <div class="margin-bottom-10">
                    <button type="button" id="printScan" class="btn btn-sm blue" data-dismiss="modal"><i class="fa fa-print"></i>@Labels.print_preview</button>
                    <button type="button" class="btn btn-sm default" data-dismiss="modal">@Labels.cancel</button>
                </div>
                <div id="viewScan">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var lblScanPreviewv = "@Labels.ScanPreview";
    </script>
    <script src="~/Content/resources/src/scanHandle.js"></script>
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '#btn_delete', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                bootbox.confirm('@Labels.are_you_sure', function (result) {
                    if (result == true) {
                        $.get(url, function (response) {
                            if (response == true) {
                                window.location.href = '@Url.Action("Search")';
                            }
                        })
                    }
                })
            })
        })
    </script>
}