@{
    ViewBag.Title = Labels.SearchTicket;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var search = ViewBag.search as Inventory.Models.ViewModels.TicketSearch;
    var _user = ViewBag.AppUser as Inventory.Models.ViewModels.UserWithRole;
    var _canView = _user.HasAccess("Distribution", "View");
    var _canPrint = _user.HasAccess("Distribution", "Print");

}

<form method="post" action="@Url.Action("ListPartial")" id="search_form" autocomplete="off">
    <div class="portlet box blue-hoki" style="margin-bottom:10px">
        <div class="portlet-title">
            <div class="caption">@Labels.search_criteria</div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>@Labels.TicketNumber</label>
                        <input type="number" class="form-control input-sm" name="TicketNumber" value="@search.TicketNumber" placeholder="@Labels.TicketNumber" id="TicketNumber" />
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Labels.TicketIssedDate</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm shpicker" name="IssuedDateFrom" value="@search.IssuedDateFrom" placeholder="@Labels.FromDate" data-rule-date="true" data-msg="" />
                        <span class="input-group-addon input-sm">@Labels.ToDate</span>
                        <input type="text" class="form-control input-sm shpicker" name="IssuedDateTo" value="@search.IssuedDateTo" placeholder="@Labels.ToDate" data-rule-date="true" data-msg="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>@Labels.Warehouse</label>
                        <input type="text" class="form-control input-sm" name="Warehouse" value="@search.Warehouse" placeholder="@Labels.Warehouse" id="warehouse" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>@Labels.RequestNumber</label>
                        <input type="number" class="form-control input-sm" name="RequestNumber" value="@search.RequestNumber" placeholder="@Labels.RequestNumber" id="RequestNumber" />
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Labels.RequestDate</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm shpicker" name="RequestDateFrom" value="@search.RequestDateFrom" placeholder="@Labels.FromDate" data-rule-date="true" data-msg="" />
                        <span class="input-group-addon input-sm">@Labels.ToDate</span>
                        <input type="text" class="form-control input-sm shpicker" name="RequestDateTo" value="@search.RequestDateTo" placeholder="@Labels.ToDate" data-rule-date="true" data-msg="" />
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="form-group">
                        <label>@Labels.Requester</label>
                        @Html.DropDownList("DepartmentID", ViewBag.DepartmentDrp as SelectList, Labels.please_select, new { @class = "form-control input-sm", @ID = "DepartmentID" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-3">
                    <div class="form-group">
                        <label>@Labels.Employee</label>
                        <select id="EmployeeID" name="EmployeeID" class="form-control input-sm"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" id="btnSearch" class="btn btn-sm"><i class="fa fa-search"></i> @Labels.search</button>
                    <button type="submit" id="btnReset" class="btn btn-sm">@Labels.reset</button>
                </div>
                <div class="col-md-2">
                    <select name="PageSize" class="form-control input-sm pull-right" style="width:70px" id="drpLimit">
                        <option value="10" @(search.length == 10 ? "selected" : "")>10</option>
                        <option value="20" @(search.length == 20 ? "selected" : "")>20</option>
                        <option value="50" @(search.length == 50 ? "selected" : "")>50</option>
                    </select>
                    <input type="hidden" name="hdStart" id="StartRow" value="@search.start" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            @Labels.DistributionTicketList
        </div>
        <div class="actions" id="data_table_actions">
        </div>
    </div>
    <div class="portlet-body" id="list_div" style="overflow:auto">
        <table id="data_table" class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>@Labels.TicketNumber</th>
                    <th>@Labels.TicketIssedDate</th>
                    <th>@Labels.Warehouse</th>
                    <th>@Labels.RequestNumber</th>
                    <th>@Labels.RequestDate</th>
                    <th>@Labels.Requester</th>
                    <th>@Labels.Employee</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="popup_attachment" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                @Labels.DocumentPrveview
            </div>
            <div class="modal-body">
                <div class="margin-bottom-10">
                    <button type="button" id="printScan" class="btn btn-sm blue" data-dismiss="modal"><i class="fa fa-print"></i>@Labels.print_preview</button>
                    <button type="button" class="btn btn-sm default" data-dismiss="modal">@Labels.cancel</button>
                </div>
                <div id="viewScan">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var lblScanPreviewv = "@Labels.ScanPreview";
    </script>
    <script src="~/Content/resources/src/scanHandle.js"></script>

    <script>
    var model = @Html.Raw(Json.Encode(Model));
    $(function () {
            /////////////////////////SEARCH//////////////////////////////
        var canView = @Html.Raw(Json.Encode(_canView));
        var canPrint = @Html.Raw(Json.Encode(_canView));

            $.fn.dataTable.ext.errMode = 'none';
            var data_table = $('#data_table').DataTable({
                ajax: {
                    url: '@Url.Action("ListPartial")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (data) {
                        var form_data = $('#search_form').serializeJSON();
                        form_data['draw'] = data.draw;
                        form_data['start'] = data.start;
                        form_data['length'] = data.length;
                        return JSON.stringify(form_data);
                    },
                },
                columns: [
                    { data: 'TicketNumber' },
                    { data: 'TicketIssuedDate' },
                    { data: 'Warehouse' },
                    { data: 'RequestNumber' },
                    { data: 'RequestDate' },
                    { data: 'EmployeeName' },
                    { data: 'DepartmentName' },
                    {
                        data: null,
                        visible: canPrint,
                        render: function (row) {
                            if (row.FilePath) {
                                return '<a href="#popup_attachment" data-toggle="modal" class="btn btn-xs showFile_row" data-filepath="' + row.FilePath + '" title="@Labels.FinalSOAttachment"><i class="fa fa-paperclip"></i></a>';
                            } else return;
                        }
                    },
                    {
                        data: null,
                        visible: canView,
                        render: function (row) {
                            return '<a href="@Url.Action("View")/'+row.DistributionID+'" title="@Labels.View" class="btn btn-xs blue"><i class="fa fa-eye"></i></a>';
                        }
                    }
                ],
                searching: false,
                bInfo: false,
                bLengthChange: false,
                ordering: false,
                serverSide: true,
                pageLength: $('#drpLimit').val(),
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<li class="fa fa-clipboard"></li> Copy',
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<li class="fa fa-file-excel-o"></li> Excel',
                    },
                    {
                        extend: 'print',
                        text: '<li class="fa fa-print"></li> Print',
                    },
                ],
            });
            data_table.buttons().container().appendTo('#data_table_actions');
            $('#data_table').on('processing.dt', function (e, s, p) {
                if (p == true) {
                    Metronic.blockUI({
                        target: '#list_div',
                        animate: true
                    });
                } else {
                    Metronic.unblockUI('#list_div');
                }
            })
            $('#search_form').submit(function (e, param) {
                e.preventDefault();
                data_table.ajax.reload();
            })
            $('#btnReset').click(function (e) {
                e.preventDefault();
                $('#search_form').clearForm();
                $('#EmployeeID').empty();
                data_table.ajax.reload();
            })
            $('#btn_cancel').click(function (e) {
                e.preventDefault();
            })
            $('#drpLimit').change(function () {
                data_table.page.len($(this).val()).draw();
            })
            ////////////////////////////////////////////////////
            $("#DepartmentID" ).change(function() {
                var departmentId = $(this).val();
                if (departmentId) {
                    var url = "@Url.Action("loadDepartmentEmployee", "Employee")"+"/"+departmentId;
                        $.get(url, function (data) {
                            $('#EmployeeID').empty();
                            $('#EmployeeID').append('<option selected="selected" value="">'+"@Labels.please_select"+'</option>');
                            $.each(data, function (i, d) {
                                $('#EmployeeID').append('<option value=' + d.employeeID + '>' + d.name + '</option>');
                            });
                        })
                }
            });
    })
    </script>
}