@model Inventory.Models.ViewModels.Distribution_VM
@{
    //ViewBag.Title = "تکت توزیع تحویلخانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _user = ViewBag.AppUser as Inventory.Models.ViewModels.UserWithRole;
}
<div class="margin-bottom-10">
    @if (_user.HasAccess("Distribution", "Search"))
    {
        <a href="@Url.Action("Search")" class="btn btn-sm">@Labels.back_to_list</a>
    }
    @if (_user.HasAccess("Distribution", "Edit"))
    {
        <a href="@Url.Action("Edit", new { id=Model.DistributionID })" class="btn btn-sm blue"><i class="fa fa-edit"></i> @Labels.edit</a>
    }
    @if (_user.HasAccess("Distribution", "Print"))
    {
        <a href="@Url.Action("Print", new { id=Model.DistributionID })" class="btn btn-sm btn-success" id="btn_print"><i class="fa fa-print"></i> @Labels.print_preview</a>
    }
    @if (_user.HasAccess("Distribution", "Delete"))
    {
        <a href="@Url.Action("Delete", new { id=Model.DistributionID })" class="btn btn-sm btn-danger" id="btn_delete"><i class="fa fa-trash"></i> @Labels.delete</a>
    }
</div>

<div id="print_area">
    <div style="direction:rtl;">
        <table border="1" class="table table-striped table-condensed table-bordered" style="border-collapse: collapse; width:100%;">
            <thead>
                <tr>
                    <td colspan="12">
                        <table style="width:100%">
                            <thead>
                                <tr>
                                    <th colspan="4" style="text-align:right; border-right:none;">@Labels.PC5Form</th>
                                    <th colspan="8" style="text-align:right; border-right:none;">@Labels.DistributionTicket</th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Labels.TicketNumber</th>
                    <th colspan="4" style="text-align:right; word-wrap:normal;">@Model.TicketNumber</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Labels.RequestNumber</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Model.RequestNumber</th>

                </tr>
                <tr>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Labels.date</th>
                    <th colspan="4" style="text-align:right; word-wrap:normal;">@Model.TicketIssuedDateForm</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Labels.RequestDate</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Model.RequestDateForm</th>

                </tr>
                <tr>
                    <th colspan="3" style="text-align:right; word-wrap:normal; width:20%">@Labels.Warehouse </th>
                    <th colspan="4" style="text-align:right; word-wrap:normal;">@Model.Warehouse</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Labels.Requester</th>
                    <th colspan="3" style="text-align:right; word-wrap:normal;">@Model.EmpDepartmentName</th>
                </tr>
                <tr>
                    <th style="text-align:center; word-wrap:normal; word-wrap:normal;  width:5%;">#</th>
                    <th style="text-align:center; word-wrap:normal; word-wrap:normal;">@Labels.Quantity</th>
                    <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.Unit</th>
                    <th style="text-align:center; word-wrap:normal;">Usage Type</th>
                    <th style="text-align:center; word-wrap:normal;">Group Name</th>
                    <th style="text-align:center; word-wrap:normal;">Product Category</th>
                    <th style="text-align:center; word-wrap:normal;">@Labels.ItemName</th>
                    <th style="text-align:center; word-wrap:normal;">Product Code</th>
                    <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.UnitPrice</th>
                    <th style="text-align:center; word-wrap:normal;word-wrap:normal;">@Labels.TotalPrice</th>
                    <th colspan="3" style="text-align:center; word-wrap:normal;">@Labels.DealWithAccount</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.DistributionItems)
                {
                    int index = 1;
                <tr>
                    <th style="text-align:center;">@index</th>
                    <th style="text-align:center;">@item.Quantity</th>
                    <th style="text-align:center;">@item.UnitName</th>
                    <th style="text-align:center;">@item.UsageTypeName</th>
                    <th style="text-align:center;">@item.ItemGroupName</th>
                    <th style="text-align:center;">@item.ItemCategoryName</th>
                    <th style="text-align:center;">@item.ItemName</th>
                    <th style="text-align:center;">@item.ItemCode</th>
                    <th style="text-align:center;">@item.UnitPrice</th>
                    <th style="text-align:center;"> @(item.Quantity * item.UnitPrice)</th>
                    <th style="text-align:center;" colspan="3">@item.DealWithAccount</th>
                </tr>
                    index++;

                }
                <tr>
                        <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                        <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                        <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                        <th colspan="5" style="text-align:center; word-wrap:normal; width:40%;">@Model.Details</th>
                        <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                        <th style="text-align:center; word-wrap:normal;">&nbsp;</th>
                        <th colspan="3" style="text-align:center; word-wrap:normal;">&nbsp;</th>
                </tr>
                <tr>
                    <th colspan="9" style="text-align:center;"> مجموع قیمت</th>
                    <th style="text-align:center;"> @Model.DistributionItems.Sum(i => i.UnitPrice * i.Quantity)</th>
                    <th colspan="3" style="text-align:center;">افغانی </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '#btn_delete', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                bootbox.confirm('@Labels.are_you_sure', function (result) {
                    if (result == true) {
                        $.get(url, function (response) {
                            if (response == true) {
                                window.location.href = '@Url.Action("Search")';
                            }
                        })
                    }
                })
            })
        })
    </script>
}