@model Inventory.Models.Procedures.RecordUserInfo

<div class="portlet box blue-hoki margin-bottom-10" style="" id="js_user_portlet">
    <div class="portlet-title">
        <div class="caption">
            @Labels.registration_info
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <section class="col-md-6">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>@Labels.inserted_by</th>
                        <td>@(Model.InsertName ?? "---")</td>
                    </tr>
                    <tr>
                        <th>@Labels.inserted_date</th>
                        <td>@Model.InsertedDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    </tr>
                    <tr>
                        <th>@Labels.last_modified_by</th>
                        <td>@(Model.UpdateName ?? "---")</td>
                    </tr>
                    <tr>
                        <th>@Labels.last_modified_date</th>
                        <td>@(Model.LastUpdatedDate != null ? Convert.ToDateTime(Model.LastUpdatedDate).ToString("dd-MM-yyyy HH:mm:ss") : "---")</td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>