@{ 
    var direction = ViewBag.Lang != "en" ? "rtl" : "ltr";
}
<div id="printTable" style="display:none;">
    <table border="1" cellpadding="3" dir="@direction">
        <thead>
            <tr><th colspan="6" id="ticketTitle"></th></tr>
            <tr>
                <th colspan="2">@Labels.Identity</th>
                <th rowspan="2">@Labels.VisitingOffice</th>
                <th rowspan="2">@Labels.NumberOfPerson</th>
                <th rowspan="2">@Labels.EnteranceDate</th>
                <th rowspan="2">@Labels.Block</th>
            </tr>
            <tr>
                <th>@Labels.Name</th>
                <th>@Labels.FatherName</th>
                
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>