@model Inventory.Models.ViewModels.RejectMobileCarRequest_VM
<p>@Labels.Your_Request_To_Mobile_Car_Rejected</p>
<table>
    <tr>
        <td>@Labels.Visiting_Place</td>
        <td>@Model.</td>
    </tr>
    <tr>
    <td colspan="2">
        @Model.RejectionReason</td>
    </tr>
</table>
<h3>@Labels.From_Administrative_Directorate</h3>

