@model Inventory.Models.ViewModels.RejectMobileCarRequest_VM
<h2>@Labels.Your_Request_To_Mobile_Car_Rejected</h2>
<table style="border: 1px solid black; border-collapse: collapse; direction:rtl;">
    <tr>
        <td style='border:1px solid black; padding: 10px;'>@Labels.Visiting_Place</td>
        <td style='border:1px solid black; padding: 10px;'>@Model.VisitingPlace</td>
    </tr>
    <tr>
        <td style='border:1px solid black; padding: 10px;'>@Labels.Rejection_Reason</td>
        <td style='border:1px solid black; padding: 10px;'>@Model.RejectionReason</td>
    </tr>
</table>
<h3>@Labels.From_Administrative_Directorate</h3>

