@model Inventory.Models.ViewModels.StockInVM

@{
    ViewBag.Title = Labels.ReceiptReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _user = ViewBag.AppUser as Inventory.Models.ViewModels.UserWithRole;
    string model_json = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}
<form action="@Url.Action(Model.StockInID == 0 ? "Insert" : "Update")" id="main_form" autocomplete="off">
    <input type="hidden" name="StockInID" id="StockInID" value="@Model.StockInID" />
    <div class="portlet box blue-hoki margin-bottom-10">
        <div class="portlet-title">
            <div class="caption">
               @Labels.ReceiptReportInfo
            </div>
        </div>
        <div class="portlet-body">
            <section class="row">
                <div class="col-md-6 form-group">
                    <label>@Labels.ReportNumber</label>
                    <div class="col-md-8">
                        <input type="text" name="M7Number" id="M7Number" value="@Model.M7Number" class="form-control input-sm" required data-msg="" placeholder="">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Labels.ReceiptDate</label>
                    <div class="col-md-8">
                        <input type="text" name="StockInDateForm" id="StockInDateForm" value="@Model.StockInDateForm" class="form-control input-sm shpicker_f" required data-msg="" placeholder="">
                    </div>
                </div>
            </section>
            <section>
                <div class="col-md-6 form-group">
                    <label>ContractorName</label>
                    <div class="col-md-8">
                        <input type="text" name="ContractorName" id="ContractorName" value="@Model.ContractorName" class="form-control input-sm" required data-msg="" placeholder="">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Labels.DeliveryPlace</label>
                    <div class="col-md-8">
                        <input type="text" name="DeliveryPlace" id="DeliveryPlace" value="@Model.DeliveryPlace" class="form-control input-sm" required data-msg="" placeholder="">
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-md-6 form-group">
                    <label>@Labels.SuggestionBillNumber</label>
                    <div class="col-md-8">
                        <input type="text" name="OrderNumber" id="OrderNumber" value="@Model.OrderNumber" class="form-control input-sm" required data-msg="" placeholder="">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>@Labels.Mem3Date</label>
                    <div class="col-md-8">
                        <input type="text" name="OrderDateForm" id="OrderDateForm" value="@Model.OrderDateForm" class="form-control input-sm shpicker_f" required data-msg="" placeholder="">
                    </div>
                </div>
                
            </section>
            <section class="row">
                
            </section>
        </div>
    </div>

    <div class="portlet box blue-hoki margin-bottom-10">
        <div class="portlet-title">
            <div class="caption">@Labels.ReceiptReportItems</div>
            <div class="actions">
                <a href="javascript:;" class="btn btn-xs btn-circle blue-steel" id="btn_add_item">
                    <i class="fa fa-plus"></i> @Labels.AddItem
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-condensed">
                <thead id="thead_attendee">
                    <tr>
                        <th>@Labels.Quantity</th>
                        <th>@Labels.Unit</th>
                        <th>@Labels.ItemDetails</th>
                        <th>@Labels.UnitPrice</th>
                        <th>@Labels.TotalPrice</th>
                        <th>@Labels.Remarks</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody_item">
                    @{
                        int index = 0;
                        if (Model.StockInItems != null)
                        {
                            foreach (var item in Model.StockInItems)
                            {
                                <tr>
                                    <td>@item.Quantity</td>
                                    <td>@item.UnitName</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.TotalPrice</td>
                                    <td>@item.Remarks</td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-xs btn-info item_edit" data-index="@index"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-danger item_delete" data-index="@index" data-title="@Labels.are_you_sure" data-btn-ok-label="@Labels.yes" data-btn-cancel-label="@Labels.no"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label>@Labels.Details</label>
            <div class="col-md-10">
                <textarea type="text" name="Details" id="Details" class="form-control" required data-msg="" placeholder="">@Model.Details</textarea>
            </div>
        </div>
    </div>
    <section class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-sm blue" id="btn_submit">@Labels.save</button>
            <button type="submit" id="btnReset" class="btn btn-sm">@Labels.reset</button>
        </div>
    </section>
</form>

<form id="item_form" method="post" action="" autocomplete="off">
    <div class="modal fade" id="item_modal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#67809F; padding-top:8px; padding-bottom:8px; color:white;">
                    <button type="button" class="close red" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">@Labels.AddItem</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="number" name="ProductCodeInput" id="ProductCodeInput" class="form-control input-sm" data-rule-digits="true" data-msg="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Usage Type</label>
                                @Html.DropDownList("UsageTypeID", ViewBag.UsageTypeDrp as SelectList, Labels.please_select, new { @class = "form-control input-sm",@onclick= "loadProducts()", id = "UsageTypeID", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Name</label>
                                <select id="ProductCode" name="ProductCode" required class="form-control"></select>
                                @*@Html.DropDownList("ProductCode", ViewBag.UsageTypeDrp as SelectList, Labels.please_select, new { @class = "form-control input-sm", id = "UsageTypeID", @required = "required" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Unit Name</label>
                                <input type="text" id="UnitName" name="UnitName" class="form-control input-sm" readonly="readonly" data-msg="" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Product Size</label>
                                <input type="text" id="ProductSize" name="ProductSize" class="form-control input-sm" readonly="readonly" data-msg="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Product Category</label>
                                <input type="text" id="ProductCategory" name="ProductCategory" class="form-control input-sm" readonly="readonly" data-msg="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Product Group</label>
                                <input type="text" id="ProductGroup" name="ProductGroup" class="form-control input-sm" readonly="readonly" data-msg="" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Product Origin</label>
                                <input type="text" id="ProductOrigin" name="ProductOrigin" class="form-control input-sm" readonly="readonly" data-msg="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Labels.Quantity</label>
                                <input type="number" name="Quantity" class="form-control input-sm" required data-msg="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Labels.UnitPrice</label>
                                <input type="number" name="UnitPrice" class="form-control input-sm" required data-rule-digits="true" data-msg="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>@Labels.Remarks</label>
                            <div class="col-md-10">
                                <textarea type="text" name="Remarks" id="Remarks" class="form-control" data-msg="" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green btn-sm">@Labels.save</button>
                    <button type="button" class="btn default btn-sm" data-dismiss="modal">@Labels.cancel</button>
                    <button type="reset" id="btnResetModal" class="btn btn-sm">@Labels.reset</button>
                    <input type="hidden" name="index" value="-1">
                    <input type="hidden" name="ID" value="0">
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/html" id="temp_item">
        <tr>
            <td>{{Quantity}}</td>
            <td>{{UnitName}}</td>
            <td>{{ProductName}}</td>
            <td>{{UnitPrice}}</td>
            <td>{{TotalPrice}}</td>
            <td>{{Remarks}}</td>
            <td>
                <a href="javascript:;" class="btn btn-xs btn-info item_edit" data-index="{{index}}"><i class="fa fa-edit"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-danger item_delete" data-index="{{index}}" data-title="@Labels.are_you_sure" data-btn-ok-label="@Labels.yes" data-btn-cancel-label="@Labels.no"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </script>
    <script>
        var model = @Html.Raw(Json.Encode(Model));
        $(function () {
            var StockInItems = [];
            var StockInID = '@Model.StockInID';
            if (StockInID != '0') {
                //var model = JSON.parse($("#model_json").val());
                StockInItems = model.StockInItems;
            }
            //Load Items

            //Load Product Information
            $('#ProductCode').change(function () {
                var productCode = $(this).val();
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("LoadProductInfo", "StockIn")', // URL to fetch second ddl
                    data: "{productCode:'" + productCode + "'}",
                    success: function (data) {
                        $("#ProductSize").val(data.ProductSize);
                        $("#ProductCategory").val(data.ProductCategory);
                        $("#ProductGroup").val(data.ProductGroup);
                        $("#ProductOrigin").val(data.ProductOrigin);
                        $("#UnitName").val(data.UnitName);
                    },
                    failure: function (data) {
                        alert('error occured');
                    }
                });
            });

            // FORM VALIDATION AND SUBMISSION
            $('#main_form').validate({
                submitHandler: function (form) {
                    var data = $('#main_form').serializeJSON({
                        parseAll: true,
                        useIntKeysAsArrayIndex: true,
                    });
                    data['StockInItems'] = StockInItems.filter(function (obj) { return obj != null; });
                    if (data['StockInItems'].length == 0) {
                        toastr.error('Please Add Item');
                        return;
                    }
                    var formData = ObjectToFormData(data);
                    //******************
                    Metronic.blockUI({ animate: true });
                    $.ajax({
                        url: $('#main_form').attr('action'),
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response != false) {
                                bootbox.alert('@Labels.operation_done_suc', function () {
                                    window.location.href = '@Url.Action("View")/' + response;
                                })
                            } else {
                                toastr.error('@Labels.unable_to_update');
                            }
                        },
                        complete: function () {
                            Metronic.unblockUI();
                        }
                    })
                }
            })

            $('body').on('click', '#btn_add_item', function (e) {
                e.preventDefault();
                $('#item_modal').modal('show');
                $('#item_form').clearForm();
                $('#item_form [name=ItemID]').val('0');
                $('#item_form [name=index]').val('-1');
            })

            $('body').on('click', '.item_edit', function (e) {
                e.preventDefault();
                var index = $(this).data().index;
                var row = StockInItems[index];
                $('#item_form [name=Quantity]').val(row.Quantity);
                $('#item_form [name=UnitID]').val(row.UnitID);
                $('#item_form [name=ItemDetails]').val(row.ItemDetails);
                $('#item_form [name=UnitPrice]').val(row.UnitPrice);
                $('#item_form [name=Remarks]').val(row.Remarks);
                $('#item_form [name=ID]').val(row.ItemID);
                $('#item_form [name=UsageTypeID]').val(row.UsageTypeID);
                loadProducts(row.ProductCode);

                $("#ProductSize").val(row.ProductSize);
                $("#ProductCategory").val(row.ProductCategory);
                $("#ProductGroup").val(row.ProductGroup);
                $("#ProductOrigin").val(row.ProductOrigin);
                $("#UnitName").val(row.UnitName);

                $('#item_form [name=index]').val(index);
                $('#item_modal').modal('show');

            })

            $('#item_form').validate({
                submitHandler: function (form) {
                    var isDuplicate = false;
                    StockInItems.forEach(function(i){
                        if(i.ProductCode == $('#ProductCode').val()){
                            isDuplicate = true;
                            return;
                        }
                    })
                    if(isDuplicate){
                        toastr.error("Duplicate Product");
                        return;
                    }
                    var row = $(form).serializeJSON();
                    console.log("form data is >>>>>>>>>>>>>> "+JSON.stringify(row));
                    var _index = (row.index == -1) ? StockInItems.length : row.index;

                    var tr = $('#temp_item').clone().html()
                    .replace("{{Quantity}}", row.Quantity)
                    .replace("{{UnitName}}", row.UnitName)
                    .replace("{{ProductName}}",$('#item_form [name=ProductCode] option:selected').text())
                    .replace("{{UnitPrice}}", row.UnitPrice)
                    .replace("{{TotalPrice}}", row.Quantity * row.UnitPrice)
                    .replace("{{Remarks}}", row.Remarks)
                    .replace("{{index}}", _index);
                    if (row.index == -1) {
                        $('#tbody_item').append(tr);
                        $('#item_form').clearForm();
                        $('#item_form input:first').focus();
                        StockInItems.push(row);
                    } else {
                        $('#tbody_item').find('[data-index=' + row.index + ']').closest('tr').replaceWith(tr);
                        $('#item_modal').modal('hide');
                        StockInItems[row.index] = row;
                    }
                    $('#ProductCode').empty();
                    $('#ProductCode').append('<option selected="selected" value="">'+"Product Name"+'</option>');


                }
            })

            $('body').on('click', '.item_delete', function (e) {
                e.preventDefault()
                $(this).confirmation('show');
            })

            $('body').on('confirmed.bs.confirmation', '.item_delete', function (e) {
                var index = $(this).data().index;
                StockInItems[index] = null;
                $(this).closest('tr').remove();
            })
    })

    </script>
    <script>
        function loadProducts(itemID) {
            var usageTypeID = $('#UsageTypeID').val()
            if (usageTypeID) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("ProductsByUsageType", "StockIn")', // URL to fetch second ddl
                    data: "{usageTypeID:'" + usageTypeID + "'}",
                    success: function (data) {
                        $('#ProductCode').empty();
                        $('#ProductCode').append('<option selected="selected" value="">'+"Product Name"+'</option>');
                        $.each(data, function (i, d) {
                            $('#ProductCode').append('<option value=' + d.Value + '>' + d.Text + '</option>');
                            if(data.length == i+1 && itemID){
                                $('#ProductCode').val(itemID);
                            }
                        });
                    },
                    failure: function (data) {
                        alert('error occured');
                    }
                });
            }}
    </script>
}


